* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    background: rgb(10, 10, 10);
}

body {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root {
    background: rgb(50, 50, 50);
}
